<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
<style>
body {
  margin: 0;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
</head>
<body>

    <!-- HEADER -->
    <div id="header_wrap">
        <header class="inner">


          <a id="project_title" href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a>

          <div id="project_links">
            <a href="{{ "/docs/" | absolute_url }}">Get started!</a>
            <a href="{{ "/docs/" | absolute_url }}">Documentation</a>
            <a href="{{ site.last_release.url }}">Download</a>
            <a href="{{ site.github.repository_url }}">GitHub</a>
          </div>

        </header>
    </div>


<ul>
  <li><a href="{{ "/docs/concepts.html" | absolute_url }}">Concepts</a></li>
  <li><a href="{{ "/docs/basics.html" | absolute_url }}">Basics</a></li>
  <li><a href="{{ "/docs/steps/" | absolute_url }}">Steps</a></li>
  <li><a href="{{ "/docs/processors/" | absolute_url }}">Processors</a></li>
</ul>

    <div style="margin-left:25%;" id="main_content_wrap">
        {{ content }}
    </div>

</body>
</html>
